{% extends 'base.html' %}
{% load static %}
{% block content %}      
<div class="container">
    <h3>Hello, {{ user.username|default:'Guest' }}!</h3>
    <p>Welcome to Holidays App</p>
    <br>
    <h2>Holidays</h2>
    <br>
    <div class="card-columns">
        {% for object in  object_list %}
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h6 class="card-text text-center">{{ object.title }}
                        {% if object.bunting %}
                        <img src="{% static 'img/bunting.png' %}" alt="Bunting image" width="20" height="20"  data-toggle="tooltip" data-placement="top" title="Bunting available for this event.">
                        {% endif %}
                    </h6>
                    <p class="card-text text-left">{{ object.country|title }}
                        <br>{{ object.date }}
                        <br>{{ object.notes }}
                    </p>                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% block extra_javascript %}
<script>
    $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

{% endblock %}
{% endblock %}